
* {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #e2e8f0;
  padding: 20px;
}

#inicio {
  background: linear-gradient(to right, #1e1b4b, #312e81);
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}


h1 {
  color: #a78bfa;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  color: #38bdf8;
  margin-top: 20px;
  margin-bottom: 5px;
}

/* Subtítulos */
.subtitulo {
  color: #94a3b8;
  text-align: center;
  font-style: italic;
}

/* Párrafos */
p {
  margin: 10px 0;
  line-height: 1.5;
}


ul, ol {
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  background-color: #a78bfa;
  color: white;
  padding: 8px;
}

td {
  border: 1px solid #334155;
  padding: 8px;
}

/* Código */
pre {
  background-color: #1e293b;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

code {
  color: #38bdf8;
}

.cita {
  border-left: 3px solid #22d3ee;
  padding: 10px;
  margin: 10px 0;
  font-style: italic;
}


.pie-pagina {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #64748b;
}